<h1 class="title"><%= dict.barricade %></h1>
<h2 class="subtitle"><%= dict.pause_title %></h2>

<ul class="controls">
	<li>
		<button class="control" value="game:resume" title="<%= dict.control_resume_game %>">
			<svg class="icon icon-resume" viewBox="0 0 32 32"><use xlink:href="#icon-resume"></use></svg>
			<span class="label"><%= dict.control_resume_game %></span>
		</button>
	</li>
</ul>
<ul class="controls">
	<li>
		<button class="control" value="game:reset" title="<%= dict.control_reset_game %>">
			<svg class="icon icon-reset" viewBox="0 0 32 32"><use xlink:href="#icon-reset"></use></svg>
			<span class="label"><%= dict.control_reset_game %></span>
		</button>
	</li>
	<li>
		<button class="control" value="game:panel:user" title="<%= dict.control_user_settings %>">
			<svg class="icon icon-settings" viewBox="0 0 32 32"><use xlink:href="#icon-settings"></use></svg>
			<span class="label"><%= dict.control_user_settings %></span>
		</button>
	</li>
</ul>

<span class="rules"><a href="<%= dict.rules_link %>" target="_blank"><%= dict.rules %></a></span>
<span class="version"><%= dict.version %></span>
