/* LAYOUT */
html, body {
	height: 100%;
}
body {
	._font-size(@font-size-m);
	background: url('../medias/square_dark_texture.png');
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	height: 100%;
	position: relative;
	width: 100%;
}
